.icon {
    display: inline-block;
    position: relative;
}

.line{
    width: 50%;
    height: 38px;
    border-bottom: 3px solid DimGray;
    left: 65px;
    /*position: absolute;*/
    z-index: -100;
}